.HomeCarousels{
    margin-top: 50px;
    margin-bottom: 50px;
}
.HomeCards{
    height: 200px;
    width: 275px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 30px;
    overflow: hidden;
    
}
.HomeCards:hover{
    
    transition:all 0.2s ease-out;
    border: 10px solid #EE7C7C;
    
}
.HomeHeader6{
    text-align: left;
    margin-left: 20px;
    font-size: 18;
    font-weight: bold;
}