.HomeCarousels{
    margin-top: 50px;
    margin-bottom: 50px;
}
.HomeCarouselProfessor{
    height: 200px;
    width: 275px;
    margin-top: 30px;
    margin-bottom: 40px;
     margin-left: 20px; 
    overflow: hidden;
}
.HomeCarouselProfImage{
    height:200px;
}
.HomeCards{
    height: 200px;
    width: 275px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
     margin-left: 20px; 
    overflow: hidden;
    
}
.HomeCards:hover{
    
    transition:all 0.2s ease-out;
    border: 10px solid #EE7C7C;
    
}
.HomeHeader6{
    text-align: left;
    margin-left: 20px;
    font-size: 20;
    font-weight: bold;
}
.HomeNavLink{
    float:left;
    margin-left: 5px;
    color:black;
    font-weight: bold;
}
.HomeNavLink:hover{
    color: #EE7C7C  !important;
}
.HomeButtonRead{
    float: left;
    margin-left: 20px;
}
.HomePTag{
    text-align: justify;
    margin-left: 20px;
    width: 275px;
    line-height: 20px;
    margin-top: 20px;
}
@keyframes movingTopToBottom {
    0% {
        top: -15px;
      }
     
      100% {
        top: 300px;
      }
    }
    .container {
      height: 300px;
      overflow: hidden;
    }
  
  #divTAReviews {
    animation: movingTopToBottom 8s linear infinite;
    
    position: relative;
    color:white;
    padding: 10px;
    overflow: hidden;
  }
.HomeEventsPlacementCard{
    /* height: 100%; */
    margin-right: 35px;
    margin-top: 30px;
    background-color: #EE7C7C;
}
.HomeEventsPlacementH6{
    color: white;
    margin-top: 10px;
}
.HomeEventsPlacementImage{
border-radius: 100%;
height: 170px;
width: 170px;
}
.HomeEventsPlacementP1{
text-align: center;;
color: white;
}
.HomeEventsPlacementH3{
    content: none;
    height: 3px;
    width: 30px;
    background: white;
    position: absolute;
    margin-left: 110px;
}
.HomeEventsPlacementP2{
    text-align: center;
    margin-bottom: 20px;
    color:white;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 22px;
}
.HomeEventsPlacementCarouselItem{
    height:500px ;
}

  